@import "helpers/variables";
@import "helpers/mixins";

html, body {
  height: 100%;
  //font-family: 'Raleway', sans-serif;
}

.login-error {
  color: red;
}

* {
  box-sizing: border-box;
}

.container{
  margin-top: 18%;
}

a {
  text-decoration: none;
}

.btn {
  width: 48%;
}

.login-btn {
  float: left;
}

.signup-btn {
  float: right;
}

