{% extends 'management/base_buildings.html' %}
{% load bootstrap %}

{% block user_fullname1 %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block user_fullname2 %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">

                مدیریت ساختمان
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="{% url 'management:buildings' %}">ساختمان‌ها</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="hidden"><a href="#">مدیریت ساختمان</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">داشبورد</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>


    <button style="position: fixed;bottom:2%;left: 2%;border-radius: 50%;border: 2px solid #f5f5f5;
    color:#f5f5f5;text-align:center;text-decoration:none;background: #00008d;box-shadow: 0 0 3px gray;
     font-size:20px;width: 100px; height: 100px; z-index: 5000" data-toggle="modal"
            data-target="#new_building">اضافه کردن ساختمان جدید
    </button>

    <div id="modal-config" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        وضعیت کلی ساختمان سینا</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6">
                        <div class="panel panel-grey">
                            <div class="panel-heading">مانده سرفصل بدهی واحدها</div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>موجودی نقد و بانک</td>
                                        <td>۲۵۰۰۰۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>بدهی ساکنین</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>طلب مجتمع</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>بدهی مجتمع</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-grey">
                            <div class="panel-heading">وضعیت هزینه ۶ ماه گذشته</div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>موجودی نقد و بانک</td>
                                        <td>۲۵۰۰۰۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>بدهی ساکنین</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>طلب مجتمع</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    <tr>
                                        <td>بدهی مجتمع</td>
                                        <td>۰ ریال</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" style="background-color: red">
                        بستن
                    </button>
                    <button type="button" class="btn btn-primary">
                        برو به صفحه ساختمان
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="new_building" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00008d;color: white ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        ثبت ساختمان جدید</h4>
                </div>
                <div class="modal-body">

                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ new_building_form|bootstrap }}
                        <button type="submit" class="save btn btn-default">ثبت ساختمان</button>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="row">

                        {% for building in building_list %}
                            <div class="col-lg-4">
                                <div class="col-lg-12">
                                    <div class="portlet box">
                                        <div class="portlet-header">
                                            <div class="caption">
                                                <a href="{% url 'management:dashboard' building.id %}">{{ building.name }}</a>
                                            </div>
                                            <div class="tools">
                                                <i data-toggle="modal"
                                                   data-target="#modal-config"
                                                   class="fa fa-cog"></i>
                                                <i class="fa fa-money" onclick="recordNewCost({{ building.pk }})"></i>
                                                <i class="fa fa-times" onclick="closeClick({{ building.pk }})"></i>

                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div>
                                                <a href="{% url 'management:dashboard' building.id %}">
                                                    <img src="{{ building.main_pic }}" width="100%"/>
                                                </a>
                                                <p>
                                                    <a href="{% url 'management:dashboard' building.id %}">
                                                        <strong>{{ building.name }}</strong><br/>
                                                    </a>
                                                    <small>
                                                        {{ building.address }}                                                    </small>
                                                <p>
                                                    {{ building.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}


                        <div id="add_new_cost" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #00008d;color: white ">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">
                                            ثبت هزینه</h4>
                                    </div>
                                    <div class="modal-body">

                                        <form method="POST" class="post-form" action="/cost/new/">{% csrf_token %}
                                            {{ new_cost_form|bootstrap }}

                                            <button type="submit" class="save btn btn-default">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        function closeClick(buildingID) {
            var result = confirm('آیا از حذف کردن این ساختمان اطمینان دارید\nتوجه حذف ساختمان بدون بازگشت خواهد بود!');
            if (result == true)
                window.location.replace("/management/building/delete/" + buildingID);
        }
        var is_first_time = true;
        function recordNewCost(buildingID) {
            $('#add_new_cost').modal();
            $('#id_bill_type').css('display', 'none');
            $('[for="id_bill_type"]').css('display', 'none');
            $('#id_building_id').val(buildingID);
            if (is_first_time) {
                $('#id_pay_from_cash').click(function () {
                    $('#id_bill_type').toggle();
                    $('[for="id_bill_type"]').toggle();
                    is_first_time = false;
                });
            }
        }

    </script>
{% endblock %}
