{% extends 'management/base.html' %}

{% block user_fullname1 %}{{ user_fullname }}{% endblock %}
{% block user_fullname2 %}{{ user_fullname }}{% endblock %}

{% block content %}

    <!--BEGIN PAGE WRAPPER-->
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                تابلو‌ی اعلانات
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a
                    href="{% url 'management:home' %}">خانه</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="hidden"><a href="{% url 'management:home' %}">تابلو‌ی اعلانات</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">تابلو‌ی اعلانات</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->

    <div id="new_bullet" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(220,103,103);color: white ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">ایجاد اعلان جدید</h4>
                </div>
                <div class="modal-body">

                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ new_building_form.as_p }}
                        <button type="submit" class="save btn btn-default">ارسال اعلان</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="mtl mbl"></div>
                    <div class="row">


                        <div class="col-sm-8 col-md-9">

                            <div class="panel">
                                <div class="panel-body pan">
                                    <ul style="background: #fff" class="nav nav-pills nav-stacked">
                                        <li class="active"><a
                                                href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"><i
                                                class="fa fa-inbox fa-fw mrs"></i>محسن محب زاده - چرا پولتونو
                                            نمیدین؟</a>
                                        </li>


                                        <li>
                                            <textarea style="font-size: 32px; direction: rtl; background-color: white;"
                                                      disabled class="form-control" rows="10" id="bullet_text">

                                                آقا من چقدر باید بگم بیاین پولتونو بریزین؟
                                                یا تا آخر امروز پولتونو میریزین یا من قهر میکنم میرم :(
                                                مرسی اه
                                            </textarea>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="mtm mbm"></div>
                            <div class="col-sm-6"><a style="font-size: 18px"
                                                     href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                                     role="button" class="btn btn-danger btn-sm btn-block">حذف اعلان
                            </a></div>
                            <div class="mtm mbm"></div>
                            <div class="col-sm-6"><a style="font-size: 18px;"
                                                     href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                                     role="button" class="btn btn-danger btn-sm btn-block">نوسازی لیست
                                اعلانات
                            </a></div>

                        </div>
                        <div class="col-sm-4 col-md-3">

                            <div class="tab-content">


                                <div id="home" class="tab-pane fade in active">
                                    <div class="list-group mail-box"><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a></div>
                                </div>


                                <div id="profile" class="tab-pane fade in">
                                    <div class="list-group mail-box"><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span class="text-muted">Lorem ipsum dolor sit amet</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span class="text-muted">Lorem ipsum dolor sit amet</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        -
                                        &nbsp;<span
                                            class="text-muted">آقا من چقدر باید بگم بیاین شارژتونو بدید؟</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a><a
                                            href="file:///home/mohammadmahdi/Desktop/sample_template/KAdmin-Dark/Email.html#"
                                            class="list-group-item">
                                        <div class="icheckbox_minimal-grey" style="position: relative;"><input
                                                type="checkbox"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        <span class="fa fa-star-o mrm mlm"></span><span
                                            style="min-width: 120px; display: inline-block;"
                                            class="name">محسن محب زاده</span><span>چرا پولتونو نمیدین؟</span>&nbsp;
                                        - &nbsp;<span class="text-muted">حاجی پاشو بیا پولتو بده</span><span
                                            class="time-badge">12:10 </span><span class="pull-right mrl"><span
                                            class="fa fa-paperclip"></span></span></a></div>
                                </div>
                            </div>
                        </div>
                        <button style="position: fixed;bottom:2%;left: 2%;border-radius: 50%;border: 2px solid #f5f5f5;
    color:#f5f5f5;text-align:center;background: rgb(220,103,103);box-shadow: 0 0 3px gray;
     font-size:26px;width: 100px; height: 100px; z-index: 5000" data-toggle="modal" data-target="#new_bullet">ایجاد
                            اعلان جدید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--END CONTENT-->
    <!--END PAGE WRAPPER-->

{% endblock %}