{% extends 'management/base_general_manager.html' %}

{% block user_fullname1 %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block user_fullname2 %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

    <!--BEGIN PAGE WRAPPER-->
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                انتقال به درگاه پرداخت بانک
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a
                    href="{% url 'management:home' %}">خانه</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="hidden"><a href="{% url 'management:manager_account' %}">انتقال به درگاه پرداخت بانک</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">انتقال به درگاه پرداخت بانک</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->


    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="mtl mbl"></div>
                    <div class="row">

                        <div class="col-sm-4 col-md-3">


                            <img style="border-radius: 50%;" width="100%" height="150%"
                                 src="https://pbs.twimg.com/profile_images/839119648243220480/TO-zqdNS.jpg">

                            <div class="mtm mbm" style="height: 40px"></div>

                            <a style="font-size: 18px" data-toggle="modal" href="{% url 'management:payment_final' %}"
                               role="button" class="btn btn-danger btn-sm btn-block">انتقال به
                                صفحه‌ی پرداخت
                            </a>
                            <div class="mtm mbm"></div>
                            <a style="font-size: 18px"
                               role="button" href="{% url 'management:home' %}" class="btn btn-danger btn-sm btn-block">لفو
                                پرداخت</a>
                            <div class="mtm mbm"></div>
                        </div>
                        <div class="mtm mbm"></div>
                        <div class="col-sm-8 col-md-9">

                            <div class="panel">
                                <div class="panel-body pan">
                                    <ul style="background: #fff" class="nav nav-pills nav-stacked">
                                        <li class="active"><a><i class="fa fa-slack fa-fw mrs"></i>اطلاعات پرداخت</a>
                                        </li>
                                        <li>
                                            <div style="padding-right: 5%; padding-left: 5%">
                                                <div class="form-group">
                                                    <label for="usr">شماره قبض:</label>
                                                    <input disabled type="text" class="form-control" id="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwd">مهلت پرداخت:</label>
                                                    <input disabled type="text" class="form-control" id="phone">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwd">مبلغ قابل پرداخت:</label>
                                                    <input disabled type="text" class="form-control" id="email">
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <ul>
                                                            <li> هم اکنون به درگاه پرداخت زرین‌پال منتقل خواهید شد.</li>

                                                            <li>لطفا حین انجام فرایند پرداخت تنها از یک tab مرورگر
                                                                استفاده کنید.
                                                            </li>

                                                            <li>حتما قبل از ورود اطلاعات بانکی خود موارد امنیتی را بررسی
                                                                نمایید.
                                                            </li>

                                                            <li>در صورتی که هرگونه پرسشی دارید با واحد پشتیبانی تماس
                                                                بگیرید.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mtm mbm"></div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--END CONTENT-->
    <!--END PAGE WRAPPER-->

{% endblock %}